<main class="content">
  <section class="ordering">
    <article>
      <div class="detail_block">
       <a href="registraciya/registraciya-ip.html">
          <img src="../img/img-1-1.png">
          <div class="o_details">
              <h2>Регистрация ИП</h2>
              <p>Подготовка документов за 30 минут.</p>
              <div class="price_block">
                <span class="price">от 2 500 руб.</span>
                <span class="order">заказать</span>
              </div>
          </div>
          </a>
      </div>
    </article>
      <article>
        <div class="detail_block">
       <a href="registraciya/registraciya-ip.html">
          <img src="../img/img-1-2.png">
          <h2>Внесение в реестр субъектов малого предпринимательства</h2>
          <p>Оформление и подача документов</p>
          <div class="price_block">
            <span class="price">от 2 500 руб.</span>
          <span class="order">заказать</span>
          </div>
           </a>
        </div>
      </article>
      <article>
        <div class="detail_block">
       <a href="registraciya/registraciya-ip.html">
          <img src="../img/img-1-3.png">
          <h2>Ликвадация ИП</h2>
          <p>Подготовка документов за 15 минут.</p>
          <div class="price_block">
            <span class="price">от 2 500 руб.</span>
           <span class="order">заказать</span>
          </div>
           </a>
        </div>    
     </article>
      <article>
        <div class="detail_block">
       <a href="registraciya/registraciya-ip.html">
          <img src="../img/img-1-4.png">
          <h2>Нулевая отчетность</h2>
          <p>Подготовка документов для налоговой инспекции и фондов</p>
          <div class="price_block">
            <span class="price">от 2 500 руб.</span>
           <span class="order">заказать</span>
            </div>
             </a>
        </div>
      </article>
      <article>
      <div class="detail_block">
       <a href="registraciya/registraciya-ip.html">
        <img src="../img/img-1-5.png">
        <h2>Смена учредителей</h2>
        <p>Оформление документов, консультация</p>
        <div class="price_block">
          <span class="price">от 2 500 руб.</span>
         <span class="order">заказать</span>
          </div>
           </a>
      </div>
    </article>
    <article>
      <div class="detail_block">
       <a href="registraciya/registraciya-ip.html">
        <img src="../img/img-1-6.png">
          <h2>Регистрация обособленного подразделения</h2>
          <p>Подготовка, подача и получение документов</p>
          <div class="price_block">
            <span class="price">от 2 500 руб.</span>
           <span class="order">заказать</span>
          </div>
        </a>
      </div>
    </article>
   <div class="clear"></div>
  </div>
       </section>
              <section id="content_block" class="index_text">
                     <h1>Регистрация ООО и ликвидация фирм в Москве, профессионально и быстро</h1>
                     <img src="../img/img-s-1.png" class="img_left">
                     <p>Юридическая фирма РЕГИСТРАЛ представляет собой команду молодых, активных и позитивных сотрудников – профессионалов в своем деле, деятельность которых нацелена на результат и качество работы.</p>
                     <p>Мы слышим своих клиентов, понимаем их и заботимся о них, окружая их грамотными юристами и бухгалтерами. Нам доверяют!</p>
                     <p>Юридическая фирма РЕГИСТРАЛ оказывает большой спектр юридических и бухгалтерских услуг для коммерческих и некоммерческих организаций, индивидуальных предпринимателей, как на территории Российской Федерации, так и за рубежом. Помимо указанного, мы поможем быстро и грамотно подготовить документы для регистрации и получения Свидетельства о регистрации любых Средств массовой информации и регистрации Вашего индивидуального обозначения – товарного знака, а для строительных компаний - вступить в СРО.</p>
                     <img src="../img/img-s-2.png" class="img_right">
                     <p>Мы оказываем самые разнообразные юридические услуги, в том числе в достаточно щекотливых и сложных вопросах, требующих хорошей юридической подготовки и сноровки. Бизнес и предпринимательская деятельность начинается с регистрации ООО или создания ИП.</p>
                     <p>Ответ на вопрос «Что создать: ИП или ООО?» зависит от целей и масштаба деятельности. Зарегистрировать ИП проще и дешевле, но менее респектабельно и более рискованно, т.к. индивидуальный предприниматель отвечает своим имуществом.</p>
                     <p> Зарегистрировать ООО не просто, надо иметь хотя бы поверхностные знания и понятия создания фирм. Риск ошибиться очень велик, а Ваши потери составят 4000 рублей госпошлина,&nbsp; которая не возвращается налоговой, а остается в архивном деле, и повторное заверение у нотариуса формы Заявления на регистрацию ООО. Стоимость услуги регистрации ООО немного &nbsp; превышает стоимость потерь в случае отказа и поэтому возникает вопрос: «Стоит ли рисковать&nbsp; денежными средствами и временем, если легче обратиться в специализированную компанию?» Юридическая фирма РЕГИСТРАЛ осуществляет помощь и поддержку и в момент регистрации фирмы и в процессе «жизнедеятельности» компании.</p>
                     <img src="../img/img-s-1.png" class="img_left">
                     <p>Ликвидация фирм – одно из важнейших направлений нашей деятельности. Так как это трудоемкая задача, нужно заранее предусмотреть все возможные преграды, которые могут встать на пути ее разрешения, с чем мы и помогаем.</p>
                     <p>Ликвидация ООО - одна из востребованных услуг, так как при ликвидации фирм возникает много вопросов, и решить их хочется без дополнительных «сюрпризов» с той или иной стороны. К каждой ликвидируемой компанией надо подходить индивидуально, проанализировать ситуацию, в которой находится фирма, и решить каким путем ее ликвидировать. Вы можете обратиться за бесплатной консультацией в Юридическую фирму «РЕГИСТРАЛ». При детальном рассмотрении компании, мы предложим Вам в варианты ликвидации ООО, расскажем плюсы и минусы каждого способа, посоветовав Вам самый оптимальный и надежный.</p>
                     <p>Ликвидировать фирму, то есть получить запись в сведения ЕГРЮЛ о прекращении деятельности компании, можно тремя способами:
                     <ul>
                            <li>- добровольно по заявление о ликвидации компании, при этом необходимо пройти все сверки с госорганами и контрагентами, уплатив все задолженности и недоимки, срок ликвидации фирмы занимает не менее 6 месяцев, тут больше бухгалтерской работы, чем юридической.</li>
                            <li>- объявив компанию банкротом. Банкротство фирмы осуществляется добровольно или по принуждению.</li>
                            <li>- реорганизацией. Наиболее упрощённая из всех форм реорганизаций - присоединение. В ЕГРЮЛ вносится запись о ликвидации фирмы в форме присоединения, при этом заметим, что права и обязанности переходят к компании - правопреемнику.</li>
                            </ul>
                     <p>Каждый способ ликвидации ООО по своему уникален и не каждой компании может подойти один и тот же способ. Наша законодательная база предоставляет дополнительные способы в сфере ликвидации компаний, чаще называемые альтернативные. Суть данной ликвидации фирм в перерегистрации ее на третьих лиц. Плюс данной ликвидации компании в том, что Вы больше никакого отношение ни имеете к ней. Решили закрыть фирму, звоните, консультируйтесь и определяйтесь с выбором ликвидации фирмы, который наиболее подходит Вам!</p>
                     <p>Будем рады сотрудничеству!</p>
            </section>
            <div id="carusel">
              <span class="prev"></span>
                  <ul>
                      <li><a href=""><img src="..//img/mart_1.png" alt=""></a></li>
                      <li><a href=""><img src="..//img/mart_2.png" alt=""></a></li>
                      <li><a href=""><img src="..//img/mart_3.png" alt=""></a></li>
                      <li><a href=""><img src="..//img/mart_4.png" alt=""></a></li>
                      <li><a href=""><img src="..//img/mart_5.png" alt=""></a></li>
                      <li><a href=""><img src="..//img/mart_6.png" alt=""></a></li>
                      <li><a href=""><img src="..//img/mart_7.png" alt=""></a></li>
                      <li><a href=""><img src="..//img/mart_5.png" alt=""></a></li>
                  </ul>
              <span class="next"></span>
            </div>

</main>
