<footer>
 <div class="footer-img"></div>
   <div class="footer-block">
            <div class="f_contact">
                <div class="contact_block">
                    <div class="f_tel">
                        <p>Наши телефоны</p>
                        <p>+7 (495) 663-83-26</p>
                        <p>+7 (495) 644-52-05</p>   
                    </div>
                </div>
                <div class="contact_block align_left">
                    <div class="f_add">
                        <p>Мы находимся:</p>
                        <p>м. Кожуховская, ул.Южнопортовая, д.5</p>
                        <div class="social">
                            <a href="" class="vk"></a>
                            <a href="" class="other-social"></a>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="copyrait">
            <p class="perm">© 2016 Все права защищены.</p>
            <p class="dev">Сайт разработан <a href="http://symix.ru">symix.ru</a></p>
        </div>
        </div>
</footer>