<footer>
 <div class="footer-img"></div>
   <div class="footer-block">
            <div class="f_contact">
                <div class="contact_block">
                    <div class="f_tel">
                        <p>Наши телефоны</p>
                        <p>+7 (495) 663-83-26</p>
                        <p id="date_foot">2008-2017гг.</p> 
                    </div>
                     <div id="search">
                        <form action="http://">
                            <input class="input_search" type="text" name="keyword" value="" placeholder="Поиск...">
                            <input class="button_search" value="" type="submit">
                        </form>
                    </div>  
                </div>
                <div class="form_block">
                     <div class="feedback_foot">
                        <p>Напишите нам, и мы обязательно перезвоним</p>
                        <form method="post" action="oformlenie-zakaza.html">
                            <input type="hidden" name="formid" value="Send">
                                <table id="order_form">
                                    <tbody><tr>
                                        <td>Имя:</td>
                                        <td>
                                            <input type="text" id="name" name="name" value="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Tелефон:</td>
                                        <td>
                                            <input type="text" id="phone" name="phone" value="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>E-mail:</td>
                                        <td>
                                            <input type="text" id="email" name="email" value="">
                                        </td>
                                    </tr>
                                        <tr>
                                        <td colspan="2" align="right">
                                            <input type="submit" name="submit" id="submit" value=" Отправить ">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                        </form>
                    </div>
                </div>
               
                <div class="adr_block align_left">
                    <div class="f_add">
                        <p>Мы находимся:</p>
                        <p>м. Кожуховская, ул.Южнопортовая, д.5</p>
                        <div class="social">
                            <a href="" class="vk"></a>
                            <a href="" class="other-social"></a>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="copyrait">
            <p class="perm">© 2016 Все права защищены.</p>
            <p class="dev">Сайт разработан <a href="http://symix.ru">symix.ru</a></p>
        </div>
        </div>
</footer>