<header>
	<div id="top_panel">
		<div class="centr_block">
			<div class="logo_block_m">
				<a href="">
					<img src="../img/logo_mob.png">
						<div id="logo_txt">
							<h1>Регистрал</h1>
							<p>консалтинговые услуги</p>
							<div class="clear"></div>
						</div>
				</a>
			</div>
			<div class="bug">
				<a href="#" id="pull"><img src="../img/burg.png"></a>
			</div>
			<nav id="menu">
				<ul>
					<li class="active"><a href="/index.html">Главная</a></li>
					<li><a href="/prajs.html">Прайс</a></li>
					<li><a href="/news.html">Новости</a></li>
					<li><a href="/index.html">Контакты</a></li>
					<span id="line"></span>
				</ul>
				<ul id="m_menu_mob">
			<li>Юридические услуги
				<ul>
					<li><a href="/registraciya/registraciya-ip.html" title="Регистрация ИП">Регистрация ИП</a></li>
					<li><a href="/registraciya/registraciya-ooo.html" title="Регистрация ООО">Регистрация ООО</a></li>
					<li><a href="/registraciya/registraciya-smi.html" title="Регистрация СМИ">Регистрация СМИ</a></li>
					<li><a href="/registraciya/registraciya-tovarnogo-znaka.html" title="Регистрация товарного знака">Регистрация товарного знака</a></li>
					<li><a href="/registraciya/registraciya-ofshora.html" title="Регистрация оффшора">Регистрация оффшора</a></li>
					<li class="last"><a href="/registraciya/registraciya-obosoblennogo-podrazdeleniya.html" title="Регистрация обособленного подразделения">Регистрация обособленного подразделения</a></li>
				</ul>
			</li>
			<li>Бухгалтерские услуги</li>
			<li>Страхование</li>
			<li>Кредитование</li>
			<li>Печати</li>
		</ul>
			</nav>
			<div id="search">
	            	<form action="http://">
	                	<input class="input_search" type="text" name="keyword" value="" placeholder="Поиск...">
						<input class="button_search" value="" type="submit">
	                </form>
	            </div>
		</div>
	</div>
	<div class="logo_block">
	<div class="logo">
		<a href="">
			<img src="../img/logo.png">
			<div id="logo_txt">
				<h1>Регистрал</h1>
				<p>консалтинговые услуги</p>
				<div class="clear"></div>
			</div>
		</a>
		<div class="h_phone">
			<a href="tel:+74956638326">
			+7 (495) 663-83-26</a>
			<a href="tel:+74956445205">
			+7 (495) 644-52-05</a>
		</div>
		<div id="order_e_form" class="">
			<a href="#" title="Заказать">
				<img src="../img/call.png">
			<p>Заказать обратный звонок</p>
			</a>
		</div>
	</div>
    </div>
    <div class="video_block">
	   <video autoplay="autoplay" loop="loop">
			 <source class="webm" type="video/webm" src="../video/Office.webm">
			<source class="mp4" type="video/mp4" src="../video/Office.mp4">
			
		</video>
	    <div class="h_light"></div>
    </div>
	<nav class="m_menu">
		<ul>
			<li>Юридические услуги
				<ul>
					<li><a href="/registraciya/registraciya-ip.html" title="Регистрация ИП">Регистрация ИП</a></li>
					<li><a href="/registraciya/registraciya-ooo.html" title="Регистрация ООО">Регистрация ООО</a></li>
					<li><a href="/registraciya/registraciya-smi.html" title="Регистрация СМИ">Регистрация СМИ</a></li>
					<li><a href="/registraciya/registraciya-tovarnogo-znaka.html" title="Регистрация товарного знака">Регистрация товарного знака</a></li>
					<li><a href="/registraciya/registraciya-ofshora.html" title="Регистрация оффшора">Регистрация оффшора</a></li>
					<li class="last"><a href="/registraciya/registraciya-obosoblennogo-podrazdeleniya.html" title="Регистрация обособленного подразделения">Регистрация обособленного подразделения</a></li>
				</ul>
			</li>
			<li><a href="">Бухгалтерские услуги</a></li>
			<li><a href="">Страхование</a></li>
			<li><a href="">Кредитование</a></li>
			<li><a href="">Печати</a></li>
		</ul>
	</nav>
	<div class="clear"></div>
</header>