<header>
	<div id="top_panel">
		<div class="centr_block">
			<div class="logo_block_m">
				<a href="">
					<img src="../img/logo_mob.png">
					<div id="logo_txt">
						<h1>Регистрал</h1>
						<p>консалтинговые услуги</p>
						<div class="clear"></div>
					</div>
				</a>
			</div>
			<nav id="menu">
				<div class="bug">
					<a href="#" id="pull">&nbsp;</a>
				</div>
				<div class="wrap_mob_memu">
					<div>
						<ul>
							<li class="active"><a href="http://registral.7autoday.ru/" title="Регистрация ООО и ликвидация фирм в Москве, профессионально и быстро">Главная</a>
							</li>
							<li><a href="/prajs.html" title="Прайс">Прайс</a></li>
							<li><a href="/novosti.html" title="Новости">Новости</a></li>
							<li class="last"><a href="/kontakty.html" title="Контакты">Контакты</a></li>
							<span id="line" style="left: 0px; width: 263px; display: inline-block;"></span>
						</ul>
					</div>
					<div id="mob_menu">
						<ul>
							<li><span class="item_close">Регистрация</span>
								<ul>
									<li><a href="/registraciya/registraciya-ip.html" title="Регистрация ИП">Регистрация ИП</a></li>
									<li><a href="/registraciya/registraciya-ooo.html" title="Регистрация ООО">Регистрация ООО</a></li>
									<li><a href="/registraciya/registraciya-smi.html" title="Регистрация СМИ">Регистрация СМИ</a></li>
									<li><a href="/registraciya/registraciya-tovarnogo-znaka.html" title="Регистрация товарного знака">Регистрация товарного знака</a></li>
									<li><a href="/registraciya/registraciya-ofshora.html" title="Регистрация оффшора">Регистрация оффшора</a></li>
									<li class="last"><a href="/registraciya/registraciya-obosoblennogo-podrazdeleniya.html" title="Регистрация обособленного подразделения">Регистрация обособленного подразделения</a></li>
								</ul>
							</li>
							<li><span class="item_close">Ликвидация</span>
								<ul><li><a href="/likvidaciya/likvidaciya-ip.html" title="Ликвидация ИП">Ликвидация ИП</a></li>
									<li><a href="/likvidaciya/likvidaciya-ooo-oficialnaya.html" title="Ликвидация ООО официальная">Ликвидация ООО официальная</a></li>
									<li><a href="/likvidaciya/likvidaciya-ooo-alternativnye-varianty.html" title="Ликвидация ООО альтернативные варианты">Ликвидация ООО альтернативные варианты</a></li>
									<li><a href="/likvidaciya/likvidaciya-reorganizaciej-prisoedinenie.html" title="Ликвидация реорганизацией (присоединение)">Ликвидация реорганизацией (присоединение)</a></li>
									<li class="last"><a href="/likvidaciya/bankrotstvo.html" title="Банкротство">Банкротство</a></li>
								</ul>
							</li>
							<li><span class="item_close">Внесение изменений</span>
								<ul>
									<li><a href="/vnesenie-izmenenij/vnesenie-izmenenij-v-ip.html" title="Внесение изменений в ИП">Внесение изменений в ИП</a></li>
									<li><a href="/vnesenie-izmenenij/smena-direktora.html" title="Смена директора">Смена директора</a></li>
										<li><a href="/vnesenie-izmenenij/smena-vidov-deyatelnosti-okved.html" title="Смена видов деятельности (ОКВЭД)">Смена видов деятельности (ОКВЭД)</a></li>
									<li><a href="/vnesenie-izmenenij/smena-nazvaniya-kompanii.html" title="Смена названия компании">Смена названия компании</a></li>
									<li><a href="/vnesenie-izmenenij/smena-sostava-uchastnikov.html" title="Смена состава участников">Смена состава участников</a></li>
									<li><a href="/vnesenie-izmenenij/uvelichenie-ustavnogo-kapitala.html" title="Увеличение уставного капитала">Увеличение уставного капитала</a></li>
									<li><a href="/vnesenie-izmenenij/smena-pasportnyh-dannyh.html" title="Смена паспортных данных">Смена паспортных данных</a></li>
									<li><a href="/vnesenie-izmenenij/vnesenie-izmenenij-v-ustav.html" title="Внесение изменений в Устав">Внесение изменений в Устав</a></li>
									<li><a href="/vnesenie-izmenenij/ispravlenie-oshibok-v-egryule.html" title="Исправление ошибок в ЕГРЮЛе">Исправление ошибок в ЕГРЮЛе</a></li>
									<li><a href="/vnesenie-izmenenij/smena-yuridicheskogo-adresa.html" title="Смена юридического адреса">Смена юридического адреса</a></li>
									<li class="last"><a href="/vnesenie-izmenenij/zao-v-ooo.html" title="Преобразование ЗАО в ООО">Преобразование ЗАО в ООО</a></li>
								</ul>
							</li>
							<li><span class="item_close">Дополнительные услуги</span>
								<ul>
									<li><a href="/dopolnitelnye-uslugi/buhgalterskie-uslugi1.html" title="Бухгалтерские услуги">Бухгалтерские услуги</a></li>
									<li><a href="/dopolnitelnye-uslugi/sostavlenie-i-proverka-dogovorov.html" title="Составление и проверка договоров">Составление и проверка договоров</a></li>
									<li><a href="/dopolnitelnye-uslugi/licenzirovanie.html" title="Лицензирование">Лицензирование</a></li>
									<li><a href="/dopolnitelnye-uslugi/vstuplenie-v-sro.html" title="Вступление в СРО">Вступление в СРО</a></li>
									<li><a href="/dopolnitelnye-uslugi/postanovka-na-uchet-v-pfr-i-fss.html" title="Постановка на учет в ПФР и ФСС">Постановка на учет в ПФР и ФСС</a></li>
									<li><a href="/dopolnitelnye-uslugi/poluchenie-dublikatov-ogrn-inn-ustava.html" title="Получение дубликатов ОГРН, ИНН, Устава">Получение дубликатов ОГРН, ИНН, Устава</a></li>
									<li><a href="/dopolnitelnye-uslugi/vypiska-iz-egrul.html" title="Выписка из ЕГРЮЛ">Выписка из ЕГРЮЛ</a></li>
									<li><a href="/dopolnitelnye-uslugi/vnesenie-v-reestr-subektov-malogo-predprinimatelstva.html" title="Внесение в реестр субъектов малого предпринимательства">Внесение в реестр субъектов малого предпринимательства</a></li>
									<li><a href="/dopolnitelnye-uslugi/postanovka-na-uchet-kassovogo-apparata.html" title="Постановка на учет кассового аппарата">Постановка на учет кассового аппарата</a></li>
									<li class="last"><a href="/dopolnitelnye-uslugi/zakazat-pechat.html" title="Заказать печать">Заказать печать</a></li>
								</ul>
							</li>
							<li class="last"><a href="http://ufreg.ru" title="Бухгалтерские услуги">Бухгалтерские услуги</a></li>
						</ul>
					</div>
				</div>
			</nav>
			
		</div>
</div>
<div class="logo_block">
	<div class="logo">
		<a href="">
			<img src="../img/logo.png">
			<div id="logo_txt">
				<h1>Регистрал</h1>
				<p>консалтинговые услуги</p>
				<div class="clear"></div>
			</div>
		</a>
		<div class="h_phone">
			<a href="tel:+74956638326">
				+7 (495) 663-83-26</a>
			<a href="tel:+74956445205">
				+7 (495) 644-52-05</a>
		</div>
	</div>
	<div id="order_e_form" class="">
		<a href="#" title="Заказать">
			<img src="../img/call.png">
			<p>Заказать обратный звонок</p>
		</a>
	</div>
</div>
		<div class="video_block">
			<video autoplay="autoplay" loop="loop">
				<source class="webm" type="video/webm" src="../video/Office.webm">
					<source class="mp4" type="video/mp4" src="../video/Office.mp4">

					</video>
					<div class="h_light"></div>
				</div>
				<nav class="m_menu">
					<ul>
						<li>Юридические услуги
							<ul>
								<li><a href="/registraciya/registraciya-ip.html" title="Регистрация ИП">Регистрация ИП</a></li>
								<li><a href="/registraciya/registraciya-ooo.html" title="Регистрация ООО">Регистрация ООО</a></li>
								<li><a href="/registraciya/registraciya-smi.html" title="Регистрация СМИ">Регистрация СМИ</a></li>
								<li><a href="/registraciya/registraciya-tovarnogo-znaka.html" title="Регистрация товарного знака">Регистрация товарного знака</a></li>
								<li><a href="/registraciya/registraciya-ofshora.html" title="Регистрация оффшора">Регистрация оффшора</a></li>
								<li class="last"><a href="/registraciya/registraciya-obosoblennogo-podrazdeleniya.html" title="Регистрация обособленного подразделения">Регистрация обособленного подразделения</a></li>
							</ul>
						</li>
						<li><a href="">Бухгалтерские услуги</a></li>
						<li><a href="">Страхование</a></li>
						<li><a href="">Кредитование</a></li>
						<li><a href="">Печати</a></li>
					</ul>
				</nav>
				<div class="clear"></div>
				<div class="scroll-menu">
					<div class="scroll_menu_wrap">
						<div class="logo_block_scroll">
						<a href="">
							<img src="../img/logo_mob.png">
							<div id="logo_txt">
								<h1>Регистрал</h1>
								<p>консалтинговые услуги</p>
								<div class="clear"></div>
							</div>
						</a>
						</div>
						<nav>
							<ul>
								<li class="active"><a href="http://registral.7autoday.ru/" title="Регистрация ООО и ликвидация фирм в Москве, профессионально и быстро">Главная</a>
								</li>
								<li><a href="/prajs.html" title="Прайс">Прайс</a></li>
								<li><a href="/novosti.html" title="Новости">Новости</a></li>
								<li><a href="/kontakty.html" title="Контакты">Контакты</a></li>
								<li class="last"><span>+7 (499) 112-02-42</span></li>

								

								<!--<span id="line" style="left: 0px; width: 263px; display: inline-block;"></span>-->
							</ul>
						</nav>	
					</div>
					
					
					
				</div>

			</header>