<main class="content">
<section id="content_block" class="news">
               <h1>Новости</h1>
               <article>
   <div class="date">24.02</div>
   <div class="summary">
       <h3><a href="sploshnoe-federalnoe-statisticheskoe-nablyudenie-za-deyatelnostyu-subektov-malogo-i-srednego-predprinimatelstva-v-2016-godu-po-itogam-2015-goda.html" title="Сплошное Федеральное статистическое наблюдение за деятельностью субъектов малого и среднего предпринимательства в 2016 году по итогам 2015 года.">Сплошное Федеральное статистическое наблюдение за деятельностью субъектов малого и среднего предпринимательства в 2016 году по итогам 2015 года.</a></h3>
       <p>Сплошное Федеральное статистическое наблюдение за деятельностью субъектов малого и среднего предпринимательства в 2016 году по итогам 2015 года.
Все&nbsp;компании, относящиеся к субъектам малого и среднего </p>
   </div>
   <div class="clear"></div>
</article><article>
   <div class="date">11.02</div>
   <div class="summary">
       <h3><a href="kniga-ucheta-dvizhenij-trudovyh-knizhek-i-vkladyshej-v-nih.html" title="Книга учета движений трудовых книжек и вкладышей в них.">Книга учета движений трудовых книжек и вкладышей в них.</a></h3>
       <p>В кадровом делопроизводстве есть обязанность ведения книги учета движения трудовых книжек и вкладышей в них.
При приеме сотрудника вносится запись с указанием данных трудовой книжки.
&nbsp;
</p>
   </div>
   <div class="clear"></div>
</article><article>
   <div class="date">26.01</div>
   <div class="summary">
       <h3><a href="proveryat-subektov-malogo-predprinimatelstva-smp-ne-budut.html" title="Проверять Субъектов малого предпринимательства (СМП) не будут">Проверять Субъектов малого предпринимательства (СМП) не будут</a></h3>
       <p>Согласно Федеральному закону от 13.07.2015 № 246-ФЗ с 1 января 2016 года по 31 декабря 2018 года запрещены любые плановые налоговые проверки у СМП, как организаций, так и предпринимателей.</p>
   </div>
   <div class="clear"></div>
</article><article>
   <div class="date">25.01</div>
   <div class="summary">
       <h3><a href="pri-nesvoevremennoj-oplate-nalogov-uvelichivaetsya-procent-peni.html" title="При несвоевременной оплате налогов увеличивается процент пени">При несвоевременной оплате налогов увеличивается процент пени</a></h3>
       <p>С 1 января 2016 года увеличился процент пени за несвоевременную уплату платежей по налогам.
Решение связано с увеличением ставки </p>
   </div>
   <div class="clear"></div>
</article><article>
   <div class="date">22.10</div>
   <div class="summary">
       <h3><a href="strahovanie-vkladov-yuridicheskih-lic.html" title="Страхование вкладов юридических лиц">Страхование вкладов юридических лиц</a></h3>
       <p>Чем помогает бизнес-сообщество и государство, если Вы зарегистрировали ООО, а у банка отозвали лицензию?</p>
   </div>
   <div class="clear"></div>
</article><article>
   <div class="date">06.07</div>
   <div class="summary">
       <h3><a href="torgovyi-sbor.html" title="Торговый сбор">Торговый сбор</a></h3>
       <p>Уважаемые клиенты юридической фирмы РЕГИСТРАЛ, доводим до Вашего сведения, что с 01.07.2015 года станет </p>
   </div>
   <div class="clear"></div>
</article><article>
   <div class="date">07.05</div>
   <div class="summary">
       <h3><a href="novyi-otchet.html" title="К общему обязательному ежеквартальному перечню бухгалтерских отчетов добавляется новый.">К общему обязательному ежеквартальному перечню бухгалтерских отчетов добавляется новый.</a></h3>
       <p>С начала 2016 г. законодательством РФ будет внедрен новый порядок&nbsp; сдачи налоговой отчетности, по которому налоговому агенту ежеквартально надлежит предоставлять расчеты сумм НДФЛ.</p>
   </div>
   <div class="clear"></div>
</article><article>
   <div class="date">21.04</div>
   <div class="summary">
       <h3><a href="lichniy-kabinet-ip.html" title="Скоро будет работать личный кабинет налогоплательщика - ИП">Скоро будет работать личный кабинет налогоплательщика - ИП</a></h3>
       <p>В течении 2015 года в планах налоговых органов распространить новый вид электронной услуги – «личный кабинет налогоплательщика - ИП». В некоторых регионах данная онлайн услуга давно и успешно работает.</p>
   </div>
   <div class="clear"></div>
</article><article>
   <div class="date">14.04</div>
   <div class="summary">
       <h3><a href="firmy-odnonevki.html" title="Число фирм-однодневок должно значительно сократиться.">Число фирм-однодневок должно значительно сократиться.</a></h3>
       <p>
&nbsp;30 марта 2015г. &nbsp;был подписан Федеральный закон №-67 о порядке проверки сведений в ЕГРЮЛ.</p>
   </div>
   <div class="clear"></div>
</article><article>
   <div class="date">07.04</div>
   <div class="summary">
       <h3><a href="smena-uridicheskogo-adresa.html" title="Поменять юридический адрес в ООО с 2016 г. будет не так легко сделать!">Поменять юридический адрес в ООО с 2016 г. будет не так легко сделать!</a></h3>
       <p>Начиная с 2016 года меняется регламент регистраций изменений адреса юрлиц (организаций, ИП).</p>
   </div>
   <div class="clear"></div>
</article>
               <div class="paginate">
                   <span class="ditto_currentpage">1</span><a class="ditto_page" href="/novosti.html?start=10">2</a><a class="ditto_page" href="/novosti.html?start=20">3</a><a class="ditto_page" href="/novosti.html?start=30">4</a><a class="ditto_page" href="/novosti.html?start=40">5</a><a class="ditto_page" href="/novosti.html?start=50">6</a>
               </div>
           </section>
           <div id="carusel">
  <span class="prev"></span>
      <ul>
          <li><a href=""><img src="..//img/mart_1.png" alt=""></a></li>
          <li><a href=""><img src="..//img/mart_2.png" alt=""></a></li>
          <li><a href=""><img src="..//img/mart_3.png" alt=""></a></li>
          <li><a href=""><img src="..//img/mart_4.png" alt=""></a></li>
          <li><a href=""><img src="..//img/mart_5.png" alt=""></a></li>
          <li><a href=""><img src="..//img/mart_6.png" alt=""></a></li>
          <li><a href=""><img src="..//img/mart_7.png" alt=""></a></li>
          <li><a href=""><img src="..//img/mart_5.png" alt=""></a></li>
      </ul>
  <span class="next"></span>
</div>
           </main>