<main class="content">
  <section id="content_block" class="index_text">
  <div class="tab_usl">
    <ul class="tabs">
      <li class="tab-link current" data-tab="tab-1">Юридические услуги</li>
      <li class="tab-link" data-tab="tab-2">Бухгалтерские услуги</li>
    </ul>
  </div>
  <p style="text-align: right;">* цены указаны в рублях</p>
   <div id="tab-1" class="tab-content current">
    <table style="width: 100%;" class="firm">
      <thead>
        <tr>
          <td class="title">Услуга</td>
          <td class="title">Стоимость</td>
          <td class="title">Срок<br />исполнения</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="3" class="title">Регистрация</td>
        </tr>
        <tr>
          <td>Регистрация ИП</td>
          <td align="center">2 500</td>
          <td align="center">7 дней</td>
        </tr>
        <tr>
          <td><a href="registraciya/registraciya-ooo.html">Регистрация ООО</a> с 1 учредителем</td>
          <td align="center">4 900</td>
          <td align="center">10 дней</td>
        </tr>
        <tr>
          <td>За каждого дополнительно учредителя</td>
          <td align="center">+ 200</td>
          <td align="center"></td>
        </tr>
        <tr>
          <td>Регистрация компании с участием иностранного капитала (учредителем, является иностранное юридическое либо физическое лицо)</td>
          <td align="center">+ 2 000</td>
          <td align="center"></td>
        </tr>
        <tr>
          <td><a href="registraciya/registraciya-obosoblennogo-podrazdeleniya.html">Регистрация филиала и представительства</a></td>
          <td align="center">5 000</td>
          <td align="center">10 дней</td>
        </tr>
        <tr>
          <td><a href="registraciya/registraciya-obosoblennogo-podrazdeleniya.html">Регистрация иного обособленного подразделения</a></td>
          <td align="center">2 500</td>
          <td align="center">от 7 дней</td>
        </tr>
        <tr>
          <td><a href="registraciya/registraciya-tovarnogo-znaka.html">Регистрация товарного знака</a></td>
          <td align="center">15 900</td>
          <td align="center">12 месяцев</td>
        </tr>
        <tr>
          <td><a href="registraciya/registraciya-tovarnogo-znaka.html">Проверка товарного знака на уникальность</a></td>
          <td align="center">4 000</td>
          <td align="center">3 недели</td>
        </tr>
        <tr>
          <td><a href="registraciya/registraciya-smi.html">Регистрация Средства Массовой информации (газеты, журнала, ТВ-программы, информационного сайта и пр.)</a></td>
          <td align="center">4900</td>
          <td align="center">от 30 дней</td>
        </tr>
        <tr>
          <td colspan="3" class="title">Ликвидация</td>
        </tr>
        <tr>
          <td><a href="[~34~]"><span>Добровольная ликвидация ООО (вкл. пошлину и публикацию в Вестнике)</span></a></td>
          <td align="center">35000</td>
          <td align="center">от 4 месяцев</td>
        </tr>
        <tr>
          <td><a href="likvidaciya/likvidaciya-ip.html">Ликвидация ИП</a></td>
          <td align="center">от 1 000</td>
          <td align="center">7 дней</td>
        </tr>
        <tr>
          <td><a href="likvidaciya/likvidaciya-ooo-alternativnye-varianty.html">Ликвидация ООО (смена участников и руководителя компании). Все расходы включены.</a></td>
          <td align="center">40 000</td>
          <td align="center">21 день</td>
        </tr>
        <tr>
          <td><a href="likvidaciya/likvidaciya-ooo-alternativnye-varianty.html">Ликвидация путем купли продажи</a></td>
          <td align="center">15 000</td>
          <td align="center">7 дней</td>
        </tr>
        <tr>
          <td><a href="likvidaciya/likvidaciya-ooo-alternativnye-varianty.html">Ликвидация путем купли продажи и сменой директора</a></td>
          <td align="center">20 000-30 000</td>
          <td align="center">7-21 день</td>
        </tr>
        <tr>
          <td>Смена состава в ЗАО</td>
          <td align="center">20 000</td>
          <td align="center">7 дней</td>
        </tr>
        <tr>
          <td><a href="likvidaciya/likvidaciya-reorganizaciej-prisoedinenie.html">Ликвидация путем реорганизации в форме Присоединения</a></td>
          <td align="center">55 000</td>
          <td align="center">4 - 5 месяца</td>
        </tr>
        <tr>
          <td><a href="likvidaciya/bankrotstvo.html">Банкротство</a></td>
          <td align="center">от 400 000</td>
          <td align="center">10 месяцев</td>
        </tr>
        <tr>
          <td colspan="3" class="title">Внесение изменений<a href="vnesenie-izmenenij/vnesenie-izmenenij-v-ip.html"></a></td>
        </tr>
        <tr>
          <td><a href="vnesenie-izmenenij/vnesenie-izmenenij-v-ip.html">Внесение изменений ИП</a></td>
          <td align="center">1 500</td>
          <td align="center">7 дней</td>
        </tr>
        <tr>
          <td><a href="vnesenie-izmenenij/smena-direktora.html">Смена директора</a></td>
          <td align="center">3 000</td>
          <td align="center">7 дней</td>
        </tr>
        <tr>
          <td><a href="vnesenie-izmenenij/smena-vidov-deyatelnosti-okved.html">Смена видов деятельности в ЕГРЮЛ / Устав</a></td>
          <td align="center">3 000 / 5 000</td>
          <td align="center">7 дней</td>
        </tr>
        <tr>
          <td><a href="vnesenie-izmenenij/smena-nazvaniya-kompanii.html">Смена названия компании</a></td>
          <td align="center">5 000</td>
          <td align="center">7 дней</td>
        </tr>
        <tr>
          <td><a href="vnesenie-izmenenij/smena-sostava-uchastnikov.html">Смена участников</a></td>
          <td align="center">5 000</td>
          <td align="center">7 дней</td>
        </tr>
        <tr>
          <td><a href="vnesenie-izmenenij/uvelichenie-ustavnogo-kapitala.html">Увеличение Уставного Капитала</a></td>
          <td align="center">5 000</td>
          <td align="center">7 дней</td>
        </tr>
        <tr>
          <td><a href="vnesenie-izmenenij/smena-pasportnyh-dannyh.html">Смена паспортных данных директор / участник</a></td>
          <td align="center">3 000 / 5 000</td>
          <td align="center">7 дней</td>
        </tr>
        <tr>
          <td><a href="vnesenie-izmenenij/ispravlenie-oshibok-v-egryule.html">Исправление ошибки в ЕГРЮЛ запрос / форма</a></td>
          <td align="center">3 000 / 5 000</td>
          <td align="center">от 5 дней / 7 дней</td>
        </tr>
        <tr>
          <td><a href="vnesenie-izmenenij/smena-yuridicheskogo-adresa.html">Смена юридического адреса</a> (проводится в 2 этапа):</td>
          <td align="center"></td>
          <td align="center"></td>
        </tr>
        <tr>
          <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;I этап: подготовка документов и подача заявки на смену адреса</td>
          <td align="center">2 000</td>
          <td align="center">2 дня</td>
        </tr>
        <tr>
          <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; II этап: подготовка документов и подача смены адреса (после положительного ответа <br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; на Заявку о смене адреса)</td>
          <td align="center">5 000</td>
          <td align="center">7 дней</td>
        </tr>
        <tr>
          <td>Внесение изменений в некоммерческих компаниях в ЕГРЮЛ (руководителя, видов деятельности и пр.)</td>
          <td align="center">10 000</td>
          <td align="center">от 30 дней</td>
        </tr>
        <tr>
          <td>Внесение изменений в некоммерческих компаниях в Уставе</td>
          <td align="center">от 20 000</td>
          <td align="center">от 30 дней</td>
        </tr>
        <tr>
          <td>Внесение изменений в компании с иностранными участниками</td>
          <td align="center">+2000</td>
          <td align="center"></td>
        </tr>
        <tr>
          <td colspan="3" class="title">Лицензирование</td>
        </tr>
        <tr>
          <td><a href="registraciya/registraciya-smi.html">Регистрация Средства Массовой информации (газеты, журнала, ТВ-программы, информационного сайта и пр.)</a></td>
          <td align="center">7 000</td>
          <td align="center">30 дней</td>
        </tr>
        <tr>
          <td><a href="dopolnitelnye-uslugi/licenzirovanie.html">Алкогольная лицензия</a></td>
          <td align="center">от 45 000</td>
          <td align="center">30 дней</td>
        </tr>
        <tr>
          <td><a href="dopolnitelnye-uslugi/licenzirovanie.html">Образовательная лицензия</a></td>
          <td align="center">от 60 000</td>
          <td align="center">60 дней</td>
        </tr>
        <tr>
          <td><a href="dopolnitelnye-uslugi/licenzirovanie.html">Медицинская лицензия</a></td>
          <td align="center">от 70 000</td>
          <td align="center">от 45 дней</td>
        </tr>
        <tr>
          <td><a href="dopolnitelnye-uslugi/licenzirovanie.html">Фармацевтическая лицензия</a></td>
          <td align="center">В зависимости от<br />вида деятельности</td>
          <td align="center">от 60 дней</td>
        </tr>
        <tr>
          <td><a href="dopolnitelnye-uslugi/licenzirovanie.html">Ветеринарная лицензия</a></td>
          <td align="center">35 000</td>
          <td align="center">45 дней</td>
        </tr>
        <tr>
          <td colspan="3" class="title">Подготовка и сдача нулевых Промежуточного и Ликвидационного балансов под ключ</td>
        </tr>
        <tr>
          <td><a href="http://ufreg.ru/nulevaya-otchetnost.html">Нулевая отчетность при ликвидации ООО, ЗАО 5000</a></td>
          <td align="center">5 000</td>
          <td align="center">-</td>
        </tr>
        <tr>
          <td colspan="3" class="title">Дополнительные услуги</td>
        </tr>
        <tr>
          <td>Подготовка документов без сопровождения (регистрация, внесение изменений и пр.)<a href="uslugi-advokata.html"></a></td>
          <td align="center">3000</td>
          <td align="center">-</td>
        </tr>
        <tr>
          <td><a href="uslugi-advokata.html">Услуги адвоката</a></td>
          <td align="center">от 1000</td>
          <td align="center">-</td>
        </tr>
        <tr>
          <td>Регистрация выпуска ценных бумаг (акций) первичная / дополнительная</td>
          <td align="center">15 000 / 25 000</td>
          <td align="center">30 дней</td>
        </tr>
        <tr>
          <td><a href="dopolnitelnye-uslugi/sostavlenie-i-proverka-dogovorov.html">Составление и проверка договоров</a></td>
          <td align="center">5 000</td>
          <td align="center">2 - 3 дня</td>
        </tr>
        <tr>
          <td><a href="dopolnitelnye-uslugi/vstuplenie-v-sro.html">Подготовка документов для вступления в СРО</a></td>
          <td align="center">3 000</td>
          <td align="center">1 - 2 дня</td>
        </tr>
        <tr>
          <td><a href="dopolnitelnye-uslugi/postanovka-na-uchet-v-pfr-i-fss.html">Постановка и снятие с учета в фондах: ПФР и ФСС. За один фонд.</a></td>
          <td align="center">1 000</td>
          <td align="center">1 - 2 дня</td>
        </tr>
        <tr>
          <td><a href="dopolnitelnye-uslugi/poluchenie-dublikatov-ogrn-inn-ustava.html">Получение дубликатов Свидетельств ОГРН, ИНН, Устава. За каждый документ.</a></td>
          <td align="center">2 000</td>
          <td align="center">5 дней</td>
        </tr>
        <tr>
          <td><a href="dopolnitelnye-uslugi/vypiska-iz-egrul.html">Выписка из ЕГРЮЛ</a></td>
          <td align="center">1 000</td>
          <td align="center">1 день</td>
        </tr>
        <tr>
          <td>
            <p><a href="dopolnitelnye-uslugi/vnesenie-v-reestr-subektov-malogo-predprinimatelstva.html">Внесение в реестр субъектов малого предпринимательства</a></p>
          </td>
          <td align="center">2 000</td>
          <td align="center">2 недели</td>
        </tr>
        <tr>
          <td><a href="dopolnitelnye-uslugi/postanovka-na-uchet-kassovogo-apparata.html">Постановка кассового аппарата на учет</a></td>
          <td align="center">8 900</td>
          <td align="center">1 неделя</td>
        </tr>
        <tr>
          <td><a href="dopolnitelnye-uslugi/zakazat-pechat.html">Изготовление печати</a></td>
          <td align="center">от 600</td>
          <td align="center">1 день</td>
        </tr>
        <tr>
          <td>Переход на УСН/ОСН (с подачей и получением документов в налоговой инспекции)</td>
          <td align="center">1 000</td>
          <td align="center">3 дня</td>
        </tr>
        <tr>
          <td>Подготовка документов для открытие р/с компании (в любом банке)</td>
          <td align="center">1 500</td>
          <td align="center">1 - 2 дня</td>
        </tr>
        <tr>
          <td>Повторная подготовка документов при внесении изменений в данные, предоставленные клиентом первоначально</td>
          <td align="center">2000</td>
          <td align="center">2 - 3 часа</td>
        </tr>
        <tr>
          <td>Подбор и покупка юридического адреса от собственника (договор аренды на 11 месяцев)</td>
          <td align="center">18 000</td>
          <td align="center">1 - 2 дня</td>
        </tr>
        <tr>
          <td>Создание сайта</td>
          <td align="center">от 3 000</td>
          <td align="center">от 1 дня</td>
        </tr>
      </tbody>
    </table>
  </div>
    <div id="tab-2" class="tab-content"> 
      <p><span style="color: #057ec8;"><strong>Что понимается под одной операцией?</strong></span></p>
      <p>- до 10 проводок по банку в день;</p>
      <p>- закрывающие документы (акт, счет – фактура, товарная накладная и прочее);</p>
      <p>- выписка из банка за один календарный день;</p>
      <p>- z – отчет.</p>
      <p><span style="color: #057ec8;">Прайс- лист</span></p>
      <p></p>
      <p></p> 
      <table width="100%" class="price" cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <td width="33%"class="title">Вид услуги</td>
            <td width="33%" class="title">Описание</td>
            <td width="33%" class="title" colspan="2">Стоимость</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="3"> <a href="nulevaya-otchetnost.html">Нулевая отчетность</a></td>
            <td class="content">Пакет «Минимум»</td>
            <td class="money" style="text-align: center;">900</td>
            <td class="zakaz" style="text-align: center;"></td>
          </tr>
          <tr>
            <td class="content">Пакет «Базовый»</td>
            <td class="money" style="text-align: center;">2000</td>
            <td class="zakaz" style="text-align: center;"><a href="zakazat.html">Заказать</a></td>
          </tr>
          <tr>
            <td class="content">Пакет «Электронный»</td>
            <td class="money" style="text-align: center;">2700</td>
            <td class="zakaz" style="text-align: center;"></td>
          </tr>
          <tr class="last">
            <td rowspan="2"><a href="buxgalterskoe-soprovozhdenie-ip.html">Бухгалтерские услуги ИП</a></td>
            <td class="content">Бухгалтерское сопровождение предпринимателя, подготовка и  сдача отчетности</td>
            <td class="money" style="text-align: center;">от 3000 в квартал</td>
            <td class="zakaz" style="text-align: center;"><a href="zakazat.html">Заказать</a></td>
          </tr>
          <tr>
            <td class="content">Пакет «Профи»</td>
            <td class="money" style="text-align: center;">от 1500 в месяц</td>
            <td class="zakaz" style="text-align: center;"></td>
          </tr>
          <tr>
            <td rowspan="2"><a href="buxgalterskoe-soprovozhdenie-firm.html">Бухгалтерское сопровождение фирм</a></td>
            <td class="content">Пакет «Помощь бухгалтера»</td>
            <td class="money" style="text-align: center;">от 3000 в месяц</td>
            <td class="zakaz" style="text-align: center;"><a href="zakazat.html">Заказать</a></td>
          </tr>
          <tr>
            <td class="content">Пакет «Полноценный бухгалтер»</td>
            <td class="money" style="text-align: center;">от 3500 в месяц</td>
            <td class="zakaz" style="text-align: center;"></td>
          </tr>
          <tr class="last">
            <td rowspan="2">Электронно - цифровая подпись для участия в торгах (входят универсальные Федеральные площадки и около 100 коммерческих).</td>
            <td class="content">Изготавливается ключ в течение 3 дней</td>
            <td class="money" style="text-align: center;">7900</td>
            <td class="zakaz" style="text-align: center;"><a href="zakazat.html">Заказать</a></td>
          </tr>
          <tr class="last">
            <td class="content">Изготавливается ключ в течение дня</td>
            <td class="money" style="text-align: center;">15800</td>
            <td class="zakaz" style="text-align: center;"><a href="zakazat.html">Заказать</a></td>
          </tr>
          <tr>
            <td>Подключение к электронной подаче отчетности*</td>
            <td class="content"><span style="font-size: 90%;">* стоимость подключения включена в 12 месяцев бухгалтерского обслуживания. При расторжении договора ранее 12 мес., стоимость подключения возмещается в 100 % размере</span></td>
            <td class="money" style="text-align: center;">1500</td>
            <td class="zakaz" style="text-align: center;"></td>
          </tr>
          <tr class="last">
            <td>Ключ ЭЦП</td>
            <td class="content">на 1 организация</td>
            <td class="money" style="text-align: center;">1500</td>
            <td class="zakaz" style="text-align: center;"><a href="zakazat.html">Заказать</a></td>
          </tr>
          <tr>
            <td rowspan="2"><a href="elektronnay-sdacha-otcheta.html">Электронная сдача отчетности фирм не находящейся на бухгалтерском обслуживании</a></td>
            <td class="content">при предоставлении отчетности в виде выгрузки</td>
            <td class="money" style="text-align: center;">700</td>
            <td class="zakaz" style="text-align: center;"><a href="zakazat.html">Заказать</a></td>
          </tr>
          <tr>
            <td class="content">при внесении отчетности в ручную (нет выгрузки или выгрузка с не последними обновлениями)</td>
            <td class="money" style="text-align: center;">1200</td>
            <td class="zakaz" style="text-align: center;"><a href="zakazat.html">Заказать</a></td>
          </tr>
          <tr class="last">
            <td>Электронная подача о применение / снятие торгового сбора</td>
            <td class="content"></td>
            <td class="money" style="text-align: center;">1500</td>
            <td class="zakaz" style="text-align: center;"><a href="zakazat.html">Заказать</a></td>
          </tr>
          <tr>
            <td rowspan="3"> <a href="http://www.ufreg.com/dopolnitelnye-uslugi/vypiska-iz-egrul.html" target="_blank">Выписка из ЕГРЮЛ</a></td>
            <td class="content">электронная</td>
            <td class="money" style="text-align: center;">300</td>
            <td class="zakaz" style="text-align: center;"></td>
          </tr>
          <tr>
            <td class="content">с печатью налогового органа</td>
            <td class="money" style="text-align: center;">1000</td>
            <td class="zakaz" style="text-align: center;"><a href="zakazat.html">Заказать</a></td>
          </tr>
          <tr>
            <td class="content">расширенная - с паспортными данными участника и генерального директора</td>
            <td class="money" style="text-align: center;">2000</td>
            <td class="zakaz" style="text-align: center;"></td>
          </tr>
        </tbody>
      </table>
        </div>

      <p>* регистрация включает подготовку документов с участием не более 2-х учредителей, более 2-х см. дополнительные услуги<br /> ** госпошлина оплачивается отдельно<br /> *** индивидуальные проекты уставных документов подготавливаются дополнительно (см. Дополнительные услуги)<br /> **** стоимость кассового аппарата оплачивается отдельно<br /> ***** каждая услуга оплачивается отдельно (предусматривается скидка %, подробности спрашивайте у специалистов)</p>
      <p>Стоимость регистрации ООО и других юридических услуг от нашей компании &ndash; оптимальные цены на все операции.</p>
      <p>Если Вас интересует стоимость регистрации ООО или предоставления бухгалтерских услуг, цена за консультацию специалиста или регистрацию товарного знака, расценки на лицензирование и сертификацию продукции, - узнать все это можно в нашем специальном прайс-листе, где перечислены все виды предоставляемых услуг. Компания РЕГИСТРАЛ гарантирует высокое качество своей работы, оптимальные сроки исполнения заказа и помощь в решении всех возникающих вопросов.</p>
    </section>
    <div id="carusel">
      <span class="prev"></span>
      <ul>
        <li><a href=""><img src="..//img/mart_1.png" alt=""></a></li>
        <li><a href=""><img src="..//img/mart_2.png" alt=""></a></li>
        <li><a href=""><img src="..//img/mart_3.png" alt=""></a></li>
        <li><a href=""><img src="..//img/mart_4.png" alt=""></a></li>
        <li><a href=""><img src="..//img/mart_5.png" alt=""></a></li>
        <li><a href=""><img src="..//img/mart_6.png" alt=""></a></li>
        <li><a href=""><img src="..//img/mart_7.png" alt=""></a></li>
        <li><a href=""><img src="..//img/mart_5.png" alt=""></a></li>
      </ul>
      <span class="next"></span>
    </div>

  </main>
