<main class="content">
  <section id="content_block" class="index_text">
   
<div class="clear"></div>
  
    <table class="resp_table" border="0" >
<tbody>
<thead>
<th class="title">Тип СМИ</th>
<th class="title">Обычное</th>
<th class="title">Рекламное</th>
<th class="title">Эротическое</th>
<th class="title">Для детей, подростков и инвалидов, а также<br/> СМИ образовательного и культурно-просветительского назначения</th>
</thead>
<tr>
<td aria-label="Тип СМИ"><span>Периодическое печатное издание</span></td>
<td aria-label="Обычное" align="center">6500</td>
<td aria-label="Рекламное" align="center">32 500</td>
<td aria-label="Эротическое" align="center"><span><span>65 000</span></span></td>
<td aria-label="Для детей, подростков и инвалидов, а также СМИ образовательного и культурно-просветительского назначения" align="right"><span><span>1300</span></span></td>
</tr>
<tr>
<td aria-label="Тип СМИ"><span>Информационное агентство</span></td>
<td aria-label="Обычное" align="center">8000</td>
<td aria-label="Рекламное" align="center">40 000</td>
<td aria-label="Эротическое" align="center"><span><span>80 000 <br/></span></span></td>
<td aria-label="Для детей, подростков и инвалидов, а также СМИ образовательного и культурно-просветительского назначения" align="right"><span><span>1600</span></span></td>
</tr>
<tr>
<td aria-label="Тип СМИ"><span>Элетронные сми , Радио-, теле-, <br />видеопрограмма, <br />кинохроникальная программа</span></td>
<td aria-label="Обычное" align="center"><span>10 000</span></td>
<td aria-label="Рекламное" align="center">50 000</td>
<td aria-label="Эротическое" align="center"><span><span>100 000</span></span></td>
<td aria-label="Для детей, подростков и инвалидов, а также СМИ образовательного и культурно-просветительского назначения" align="right"><span><span>2000</span></span></td>
</tr>
<tr>
<td aria-label="Тип СМИ"><span>Иное СМИ</span></td>
<td aria-label="Обычное" align="center"><span><span>10 000</span></span></td>
<td aria-label="Рекламное" align="center">50 000</td>
<td aria-label="Эротическое" align="center"><span><span><span><span>100 000</span></span></span></span></td>
<td aria-label="Для детей, подростков и инвалидов, а также СМИ образовательного и культурно-просветительского назначения" align="right"><span><span>2000</span></span></td>
</tr>
</tbody>
</table>
    </section>
    <div id="carusel">
      <span class="prev"></span>
      <ul>
        <li><a href=""><img src="..//img/mart_1.png" alt=""></a></li>
        <li><a href=""><img src="..//img/mart_2.png" alt=""></a></li>
        <li><a href=""><img src="..//img/mart_3.png" alt=""></a></li>
        <li><a href=""><img src="..//img/mart_4.png" alt=""></a></li>
        <li><a href=""><img src="..//img/mart_5.png" alt=""></a></li>
        <li><a href=""><img src="..//img/mart_6.png" alt=""></a></li>
        <li><a href=""><img src="..//img/mart_7.png" alt=""></a></li>
        <li><a href=""><img src="..//img/mart_5.png" alt=""></a></li>
      </ul>
      <span class="next"></span>
    </div>

  </main>
