<main class="content">
  <section id="content_block" class="index_text">
  <div class="tab_usl">
    <ul class="tabs">
      <li class="tab-link current" data-tab="tab-1">Юридические услуги</li>
      <li class="tab-link" data-tab="tab-2">Бухгалтерские услуги</li>
    </ul>
  </div>
  <p style="text-align: right;">* цены указаны в рублях</p>
   <div id="tab-1" class="tab-content current">
    <table style="margin: 0px;" border="0">
<tbody>
<tr>
<td class="title">Тип СМИ</td>
<td class="title">Обычное</td>
<td class="title">Рекламное</td>
<td class="title">Эротическое</td>
<td class="title">Для детей, подростков и инвалидов, а также СМИ образовательного и культурно-просветительского назначения</td>
</tr>
<tr>
<td data-label="Тип СМИ"><span>Периодическое печатное издание</span></td>
<td data-label="Обычное" align="center">6500</td>
<td data-label="Рекламное" align="center">32 500</td>
<td data-label="Для детей, подростков и инвалидов,<br> а также СМИ образовательного и культурно-просветительского назначения" align="center"><span><span>65 000</span></span></td>
<td data-label="Для детей, подростков и инвалидов, а также СМИ образовательного и культурно-просветительского назначения" align="center"><span><span>1300</span></span></td>
</tr>
<tr>
<td data-label="Тип СМИ"><span>Информационное агентство</span></td>
<td data-label="Обычное" align="center">8000</td>
<td data-label="Рекламное" align="center">40 000</td>
<td data-label="Эротическое" align="center"><span><span>80 000 <br/></span></span></td>
<td data-label="Для детей, подростков и инвалидов, а также СМИ образовательного и культурно-просветительского назначения" align="right"><span><span>1600</span></span></td>
</tr>
<tr>
<td data-label="Тип СМИ"><span>Элетронные сми , Радио-, теле-, <br />видеопрограмма, <br />кинохроникальная программа</span></td>
<td data-label="Обычное"v align="center"><span>10 000</span></td>
<td data-label="Рекламное" align="center">50 000</td>
<td data-label="Эротическое" align="center"><span><span>100 000</span></span></td>
<td data-label="Для детей, подростков и инвалидов, а также СМИ образовательного и культурно-просветительского назначения" align="right"><span><span>2000</span></span></td>
</tr>
<tr>
<td data-label="Тип СМИ"><span>Иное СМИ</span></td>
<td data-label="Обычное" align="center"><span><span>10 000</span></span></td>
<td data-label="Рекламное" align="center">50 000</td>
<td data-label="Эротическое" align="center"><span><span><span><span>100 000</span></span></span></span></td>
<td data-label="Для детей, подростков и инвалидов, а также СМИ образовательного и культурно-просветительского назначения" align="right"><span><span>2000</span></span></td>
</tr>
</tbody>
</table>
<p><br /><br /></p>
<p>За государственную регистрацию средств массовой информации, продукция которых предназначена для распространения преимущественно на территории субъекта Российской Федерации, района, города, иного населенного пункта, района в городе, микрорайона:<br /><br /><br /></p>
<p><span style="line-height: 1.5;"><span style="color: #ff7100;">Таблица 2:Распространение СМИ на территории одного субъекта РФ, кроме города Москвы:</span><br /><span style="color: #004284;">* цены указаны в рублях</span></span></p>
<table border="0">
<tbody>
<tr>
<td>Тип СМИ</td>
<td>Обычное</td>
<td>Рекламное</td>
<td>Эротическое</td>
<td>Для детей, подростков и инвалидов, а также<br />СМИ образовательного и культурно-просветительского назначения</td>
</tr>
<tr>
<td>Периодическое печатное издание</td>
<td align="center">3500</td>
<td align="center">17 500</td>
<td align="center">35 000</td>
<td align="right">700</td>
</tr>
<tr>
<td>Информационное агентство</td>
<td align="center">4000</td>
<td align="center">20 000</td>
<td align="center">40 000</td>
<td align="right">800</td>
</tr>
<tr>
<td>Радио-, теле-,&nbsp;<br />видеопрограмма,&nbsp;<br />кинохроникальная программа</td>
<td align="center">5000</td>
<td align="center">25 000</td>
<td align="center">50 000</td>
<td align="right">1000</td>
</tr>
<tr>
<td>Иное СМИ</td>
<td align="center">5000</td>
<td align="center">25 000</td>
<td align="center">50 000</td>
<td align="right">1000<br /><br /></td>
</tr>
</tbody>
</table>


  </div>
    <div id="tab-2" class="tab-content"> 
      <p><span style="color: #057ec8;"><strong>Что понимается под одной операцией?</strong></span></p>
      <p>- до 10 проводок по банку в день;</p>
      <p>- закрывающие документы (акт, счет – фактура, товарная накладная и прочее);</p>
      <p>- выписка из банка за один календарный день;</p>
      <p>- z – отчет.</p>
      <p><span style="color: #057ec8;">Прайс- лист</span></p>
      <p></p>
      <p></p> 
      <table width="100%" class="price" cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <td width="33%"class="title">Вид услуги</td>
            <td width="33%" class="title">Описание</td>
            <td width="33%" class="title" colspan="2">Стоимость</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="3"> <a href="nulevaya-otchetnost.html">Нулевая отчетность</a></td>
            <td class="content">Пакет «Минимум»</td>
            <td class="money" style="text-align: center;">900</td>
            <td class="zakaz" style="text-align: center;"></td>
          </tr>
          <tr>
            <td class="content">Пакет «Базовый»</td>
            <td class="money" style="text-align: center;">2000</td>
            <td class="zakaz" style="text-align: center;"><a href="zakazat.html">Заказать</a></td>
          </tr>
          <tr>
            <td class="content">Пакет «Электронный»</td>
            <td class="money" style="text-align: center;">2700</td>
            <td class="zakaz" style="text-align: center;"></td>
          </tr>
          <tr class="last">
            <td rowspan="2"><a href="buxgalterskoe-soprovozhdenie-ip.html">Бухгалтерские услуги ИП</a></td>
            <td class="content">Бухгалтерское сопровождение предпринимателя, подготовка и  сдача отчетности</td>
            <td class="money" style="text-align: center;">от 3000 в квартал</td>
            <td class="zakaz" style="text-align: center;"><a href="zakazat.html">Заказать</a></td>
          </tr>
          <tr>
            <td class="content">Пакет «Профи»</td>
            <td class="money" style="text-align: center;">от 1500 в месяц</td>
            <td class="zakaz" style="text-align: center;"></td>
          </tr>
          <tr>
            <td rowspan="2"><a href="buxgalterskoe-soprovozhdenie-firm.html">Бухгалтерское сопровождение фирм</a></td>
            <td class="content">Пакет «Помощь бухгалтера»</td>
            <td class="money" style="text-align: center;">от 3000 в месяц</td>
            <td class="zakaz" style="text-align: center;"><a href="zakazat.html">Заказать</a></td>
          </tr>
          <tr>
            <td class="content">Пакет «Полноценный бухгалтер»</td>
            <td class="money" style="text-align: center;">от 3500 в месяц</td>
            <td class="zakaz" style="text-align: center;"></td>
          </tr>
          <tr class="last">
            <td rowspan="2">Электронно - цифровая подпись для участия в торгах (входят универсальные Федеральные площадки и около 100 коммерческих).</td>
            <td class="content">Изготавливается ключ в течение 3 дней</td>
            <td class="money" style="text-align: center;">7900</td>
            <td class="zakaz" style="text-align: center;"><a href="zakazat.html">Заказать</a></td>
          </tr>
          <tr class="last">
            <td class="content">Изготавливается ключ в течение дня</td>
            <td class="money" style="text-align: center;">15800</td>
            <td class="zakaz" style="text-align: center;"><a href="zakazat.html">Заказать</a></td>
          </tr>
          <tr>
            <td>Подключение к электронной подаче отчетности*</td>
            <td class="content"><span style="font-size: 90%;">* стоимость подключения включена в 12 месяцев бухгалтерского обслуживания. При расторжении договора ранее 12 мес., стоимость подключения возмещается в 100 % размере</span></td>
            <td class="money" style="text-align: center;">1500</td>
            <td class="zakaz" style="text-align: center;"></td>
          </tr>
          <tr class="last">
            <td>Ключ ЭЦП</td>
            <td class="content">на 1 организация</td>
            <td class="money" style="text-align: center;">1500</td>
            <td class="zakaz" style="text-align: center;"><a href="zakazat.html">Заказать</a></td>
          </tr>
          <tr>
            <td rowspan="2"><a href="elektronnay-sdacha-otcheta.html">Электронная сдача отчетности фирм не находящейся на бухгалтерском обслуживании</a></td>
            <td class="content">при предоставлении отчетности в виде выгрузки</td>
            <td class="money" style="text-align: center;">700</td>
            <td class="zakaz" style="text-align: center;"><a href="zakazat.html">Заказать</a></td>
          </tr>
          <tr>
            <td class="content">при внесении отчетности в ручную (нет выгрузки или выгрузка с не последними обновлениями)</td>
            <td class="money" style="text-align: center;">1200</td>
            <td class="zakaz" style="text-align: center;"><a href="zakazat.html">Заказать</a></td>
          </tr>
          <tr class="last">
            <td>Электронная подача о применение / снятие торгового сбора</td>
            <td class="content"></td>
            <td class="money" style="text-align: center;">1500</td>
            <td class="zakaz" style="text-align: center;"><a href="zakazat.html">Заказать</a></td>
          </tr>
          <tr>
            <td rowspan="3"> <a href="http://www.ufreg.com/dopolnitelnye-uslugi/vypiska-iz-egrul.html" target="_blank">Выписка из ЕГРЮЛ</a></td>
            <td class="content">электронная</td>
            <td class="money" style="text-align: center;">300</td>
            <td class="zakaz" style="text-align: center;"></td>
          </tr>
          <tr>
            <td class="content">с печатью налогового органа</td>
            <td class="money" style="text-align: center;">1000</td>
            <td class="zakaz" style="text-align: center;"><a href="zakazat.html">Заказать</a></td>
          </tr>
          <tr>
            <td class="content">расширенная - с паспортными данными участника и генерального директора</td>
            <td class="money" style="text-align: center;">2000</td>
            <td class="zakaz" style="text-align: center;"></td>
          </tr>
        </tbody>
      </table>
        </div>

      <p>* регистрация включает подготовку документов с участием не более 2-х учредителей, более 2-х см. дополнительные услуги<br /> ** госпошлина оплачивается отдельно<br /> *** индивидуальные проекты уставных документов подготавливаются дополнительно (см. Дополнительные услуги)<br /> **** стоимость кассового аппарата оплачивается отдельно<br /> ***** каждая услуга оплачивается отдельно (предусматривается скидка %, подробности спрашивайте у специалистов)</p>
      <p>Стоимость регистрации ООО и других юридических услуг от нашей компании &ndash; оптимальные цены на все операции.</p>
      <p>Если Вас интересует стоимость регистрации ООО или предоставления бухгалтерских услуг, цена за консультацию специалиста или регистрацию товарного знака, расценки на лицензирование и сертификацию продукции, - узнать все это можно в нашем специальном прайс-листе, где перечислены все виды предоставляемых услуг. Компания РЕГИСТРАЛ гарантирует высокое качество своей работы, оптимальные сроки исполнения заказа и помощь в решении всех возникающих вопросов.</p>
    </section>
    <div id="carusel">
      <span class="prev"></span>
      <ul>
        <li><a href=""><img src="..//img/mart_1.png" alt=""></a></li>
        <li><a href=""><img src="..//img/mart_2.png" alt=""></a></li>
        <li><a href=""><img src="..//img/mart_3.png" alt=""></a></li>
        <li><a href=""><img src="..//img/mart_4.png" alt=""></a></li>
        <li><a href=""><img src="..//img/mart_5.png" alt=""></a></li>
        <li><a href=""><img src="..//img/mart_6.png" alt=""></a></li>
        <li><a href=""><img src="..//img/mart_7.png" alt=""></a></li>
        <li><a href=""><img src="..//img/mart_5.png" alt=""></a></li>
      </ul>
      <span class="next"></span>
    </div>

  </main>
