@media (max-width: 730px)
{
#content_block{
	h1{
		padding: 0 10px;
	}
	.img_left{
		float: left;
		 margin: 0 30px 30px 0;
	}
	.img_right{
		float: right;
		 margin:30px 0 30px 30px;
	}
	/*Адаптивная таблица*/
	.resp_table {
	 	border:0;
		thead {
    		display: none;
  		}
		caption {
    	font-size: 1.3em;
  		}
	     tr {
		    display: block;
		    border: 1px solid #dfdfdf;
		    border-bottom: 2px solid #dfdfdf;
		    margin-bottom: .625em;
		    td {
		    	border-right: none;
		    	display: block;
		    	font-size: .8em;
		    	text-align: right;
		    	border-bottom: 1px solid #dfdfdf;
		    	&:before {
		    		content: attr(aria-label);
		    		float: left;
		    		font-weight: bold;
		    		text-transform: uppercase;
		    		width: 80%;
		    		text-align: left;
	     		}
		  		&:last-child {
	    			border-bottom: 0;
	    			height:22px;
	  			}
		    }
	  	}  
   	}
 
  
 
  	
 


/********/
}
.footer-block {
	.f_contact {
		.f_add{
			width:280px;
			.social{
				 margin-top: 10px;
			}
		}
	}
}
.copyrait{
	margin: 20px auto 0;
}
}


