@media (max-width: 870px)
{
.ordering{
	article{
		width:50%;
		text-align: center;
	}
	article:nth-child(3n+3){
			text-align: center;
	}
}
/*footer*/
footer{
	.footer-img{
		height: 315px;
  	}
}
.footer-block {
	.f_contact {
		.align_left{
			width:100%;
		}
		.contact_block {
    		width: 50%;
    	}
		.adr_block{
			text-align:center;
			.f_add{
				width:335px;
			}

		}

		.form_block {
    	width:50%;
    	text-align: right;
    	.feedback_foot{
    		width: 270px;
			display:inline-block;
			text-align:left;
    	}
		
	}
} 

}
}