@media (max-width: 981px)
{	
	.switch{
		height: 100%;
    	overflow: hidden;
	}
	.switch #top_panel .centr_block #menu{
		transform: translateX(0);
	}
	header {
  margin-bottom:40px;
  height:63px;

}
	#top_panel{
		position: fixed;
		top: 0;
	    z-index: 10;
	    background: #f2f2f2;
		box-shadow: inset 0px -1px 0px white, inset 0px 0px 0px rgba(255, 255, 255, 0.4), 0px 0px 0px rgba(0, 0, 0, 0.8);
 		-moz-box-shadow: inset 0px -1px 0px white, inset 0px 0px 0px rgba(255, 255, 255, 0.4), 0px 0px 0px rgba(0, 0, 0, 0.8);
 		-webkit-box-shadow: inset 0px -1px 0px white, inset 0px 0px 0px rgba(255, 255, 255, 0.4), 0px 0px 0px rgba(0, 0, 0, 0.8);
		border-bottom: 1px solid #dfdfdf;
		text-transform: uppercase;
		font-size: 14px;
		clear: both;
		.centr_block{
			top:0;
			a{
				text-decoration: none;
				img{
					margin-right: 10px;
				}
				span{
					vertical-align: 11px;
				}
			}
			.logo_block_m{
				top: 8px;
				left: 20px;
				display: block;	
				position: absolute;
			   	a{
			   		text-decoration: none;
			   		color: #333;
			   	}
			   	img{
					margin-right: 10px;
			   	}
			   	#logo_txt{
			   		float: right;
			   		h1{
			   			margin: 0;
			    		text-transform: uppercase;
			    		font-weight: lighter;
			    		font-size: 27px;
			    	}
			   		p{
			   			letter-spacing: 1px;
			   			font-size: 10px;
			    	}
			    }
			}
			#menu{
				position:fixed;
				height:100%;
				top:0;
				right:0;
				margin:0;
				width: calc(100% - 50px);
				max-width:300px;
				background: #fff;
				-webkit-transform: translateX(100%);
			    -o-transform: translateX(100%);
			    transform: translateX(100%);
			    -o-transition: -o-transform .2s ease 0s;
			    transition: -webkit-transform .2s ease 0s;
			     transition: transform .2s ease 0s;
				-moz-box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
				-webkit-box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
				box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
				z-index: 20;
				.wrap_mob_memu{
					padding: 10px 20px;
				    left: 0;
				    right: 0;
				    top: 0;
				    bottom: 0;
				    position: absolute;
				    background-color: #fff;
				    overflow-x: hidden;
				    overflow-y: auto; 
				    -webkit-overflow-scrolling: touch;
				}
				ul{
					#line{
						display: none;
						}
					li{
						float: none;
						padding:10px 0;
						color:#333;	
						a {
						color:#333;	
						}
					}
				}
			}
			#m_menu_mob{
				display: block;
					li{
						ul{
							li{

								padding-left: 10px;
								a{
									color:#333;
									font-size:13px;
								}
							}
						}
					}
				}
				#mob_menu{
					display: block;
					ul{
						li{
							.item_close{
								&:after{
								content: '\2039';
								position:absolute;
								right: 10px;
								font-size:21px;
								margin-top:-7px;
								-webkit-transform: rotate(270deg);
   								-o-transform: rotate(270deg);
    							transform: rotate(270deg);
							}
							}
							
							ul{
								display:none;
								padding-top: 10px;
								li{
									text-transform: none;
									padding-left:15px;
								}
							}
							.item_oppened{
								&:after{
									content:'\203A'
								}
								
							}
						}
					}
				}
			}
			.search_menu{
				display: block;
				z-index:20;
				top: 15px;
				input[type="text"]
				{
					color:#333;
				}

			input[type="submit"]{
				background: url(../img/search_mob.png) no-repeat center center;
			}
			}
			
	.bug{
		width: 115px;
		display: block;
		position: absolute;
		right:100%;
		font-size:17px;
		z-index: 1;
		text-transform: uppercase;
		a {
			display:block;
			width:40px;
			height:60px;
			background: url(../img/burg.png) no-repeat left center;
			&:hover,
			&:visited{
				color: #555;
			}
		}
		a:after{	
				content: 'меню';
				font-size: 18px;
		    	position:absolute;
		    	top:22px;
		    	right:15px;
			}
		a{
			color:#333;
		}
		img{
			margin-top: 10px;
		}
	}
	.bug_close{
		width: 40px;
	    display: block;
	    position: absolute;
	    padding-left:15px;
	    border-right: solid 1px #dfdfdf;
	    background:#fff;
	    right: 100%;
	    z-index: 1;
	   a{
	   		display:block;
			width:40px;
			height:62px;
			background: url(../img/burg_close.png) no-repeat left center;
	   	}	
	   		}

	.highlight{
				right: 245px;
			}
/*END .centr_block*/
		}
	.m_menu, .video_block, .logo_block{
		display: none;	
	}
.news{
	article
		.date {
			margin-bottom:15px;
		}

		}
		}