* {
    margin: 0;
    padding: 0;
}
body
{
	color:#333;
	background-color: #f2f2f2;
	font-family: GothamProLight;
}
.clear{
	clear:both;
}
#load_page {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #969696;
    z-index: 99999;
    img {
	    position: absolute;
	    top: 50%;
	    left: 50%;
	}
}
/***************HEADER********************/
header {
  margin-bottom:70px;
}

#top_panel
{
	width:100%;
	position:absolute;
	color:#fff;
}
.centr_block {
	margin:0 auto;
	max-width:1100px;
	height: 62px;
	position: relative;
	top: 15px;
	font-size:13px;
	.logo_block_m, #m_menu_mob,#mob_menu, .bug{
		display: none;
	}
nav
{
	width: 70%;
	margin:0 30px;
	ul
	{
		position:relative;
		li
		{
			list-style-type: none;
			float: left;
			text-transform: uppercase;
			padding:22px 45px 0 0; 
			cursor: pointer;
			a {
				text-decoration:none;
				color: #fff;
			}
		}
	}
	#line
	{
		background:#fff;
		display: block;
		height: 2px;
		margin-top:2px;
		position: absolute;
		top:36px;
		left:0;
	}
}

}
.logo_block
{
	width: 100%;
	position: absolute;
   	top: 150px;
   	a
   	{
   		text-decoration: none;
   		color: #fff;
   		display: block;
   	}
.logo
{
	margin:0 auto;
   	max-width:380px;
   	img
   	{
		margin-right: 30px;
   	}
   	#logo_txt
   	{
   		float: right;
   		margin-top: 5px;

   		h1
   		{
   			margin: 0;
    		text-transform: uppercase;
    		font-weight: lighter;
    		font-size: 40px;
    	}
   		p
   		{
   			letter-spacing: 1px;
   			font-size: 19px;
    	}
    }
    .h_phone
	{
   	text-align: center;
   	margin-top:70px;
   	font-size: 20px;
   	a
   	{
   		letter-spacing: 4px;
   	}
}

//end logo
}
#order_e_form{
	max-width:370px;
	margin: 70px auto;
	border:1px solid #ccc;
	
	&:hover{
		    background-color: rgba(0,0,0,.25);
	}
	a{
		img{
			float:left;
			margin:10px 25px;
		}
		p{
			font-size: 15px;
			padding: 16px 12px;
			text-transform: uppercase;
		}
	}
}
}
.video_block
{
	width:100%;
	height:554px;
	position: relative;
	overflow:hidden;
	z-index: -1;
	video
	{
		width: 100%;
		margin: auto;
  		position: absolute;
  		top: 0;
  		left: 0;
  		bottom: 0;
  		right: 0;
    }
	.h_light
	{
		position: absolute;
		background: rgba(0,0,0,0.5);
		width: 100%;
		height: 100%;
	}
}

.m_menu
{
	box-shadow: inset 0px -1px 0px white, inset 0px 0px 0px rgba(255, 255, 255, 0.4), 0px 0px 0px rgba(0, 0, 0, 0.8);
 	-moz-box-shadow: inset 0px -1px 0px white, inset 0px 0px 0px rgba(255, 255, 255, 0.4), 0px 0px 0px rgba(0, 0, 0, 0.8);
 	-webkit-box-shadow: inset 0px -1px 0px white, inset 0px 0px 0px rgba(255, 255, 255, 0.4), 0px 0px 0px rgba(0, 0, 0, 0.8);
	border-bottom: 1px solid #dfdfdf;
	text-transform: uppercase;
	font-size: 14px;
	clear: both;
	ul
	{
		max-width: 1100px;
		margin: 0 auto;
		height: 60px;
		text-align: center;
		li
		{
			list-style-type: none;
			padding: 0 25px;
			cursor: pointer;
			zoom: 1;
			line-height: 60px;
			*display: inline !important;
			display: inline-block;
			a{
				text-decoration: none;
				color: #333;
				&:hover
				{
					color: #004284;
				}
			}
			ul
			{
				display: none;
				background: #fff;
				position: absolute;
				border-top: 1px solid #dfdfdf;
				-moz-box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
				-webkit-box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
				box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
				z-index: 999;
				height: auto;
				li
				{
					margin: 0;
					display: block;
					text-align: left;
					padding:0;
					font-size: 13px;
					text-transform: none;
					a
					{
						padding: 0 40px 0 20px;
						display: block;
						line-height: 40px;
						color: #333;
						text-decoration: none;
						&:hover,
						&:active
						{
							background: #dfdfdf;
							color: #333;
						}
					}
				}
			}
		}
	}
}
/*************** END HEADER********************/
/**************scroll menu********************/
.scroll-menu
{
	position: relative;
	box-shadow: inset 0px -1px 0px white, inset 0px 0px 0px rgba(255, 255, 255, 0.4), 0px 0px 0px rgba(0, 0, 0, 0.8);
 	-moz-box-shadow: inset 0px -1px 0px white, inset 0px 0px 0px rgba(255, 255, 255, 0.4), 0px 0px 0px rgba(0, 0, 0, 0.8);
 	-webkit-box-shadow: inset 0px -1px 0px white, inset 0px 0px 0px rgba(255, 255, 255, 0.4), 0px 0px 0px rgba(0, 0, 0, 0.8);
	border-bottom: 1px solid #dfdfdf;
	text-transform: uppercase;
	font-size: 14px;
	clear: both;
	position: fixed;
    top: 0;
    z-index: 999;
    background: #f2f2f2;
    width: 100%;
    opacity: 0.96;
    display: none;
    .scroll_menu_wrap{
    	max-width: 1100px;
    	margin: 0 auto;
	ul
	{
		max-width: 1100px;
		margin: 0 auto;
		height: 60px;
		text-align: center;
		li
		{
			list-style-type: none;
			padding: 0 25px;
			cursor: pointer;
			zoom: 1;
			line-height: 60px;
			*display: inline !important;
			display: inline-block;
			a{
				text-decoration: none;
				color: #333;
				&:hover
				{
					color: #004284;
				}
			}
			span{
				font-size: 20px;
				cursor: default;
				}
		}
	}
	.logo_block_scroll{
				margin: 7px 0 0 20px;
    			float: left;
				display: block;	
				a{
			   		text-decoration: none;
			   		color: #333;
			   	}
			   	img{
					margin-right: 10px;
			   	}
			   	#logo_txt{
			   		float: right;
			   		h1{
			   			margin: 0;
			    		text-transform: uppercase;
			    		font-weight: lighter;
			    		font-size: 27px;
			    	}
			   		p{
			   			letter-spacing: 1px;
			   			font-size: 10px;
			    	}
			    }
			}
	}		
}